[submodule "ext/glfw"]
	path = ext/glfw
	url = https://github.com/glfw/glfw.git
[submodule "ext/griffinLogCpp"]
	path = ext/griffinLogCpp
	url = https://github.com/juliokscesar/griffinLogCpp.git
[submodule "ext/glm"]
	path = ext/glm
	url = https://github.com/g-truc/glm.git
